
body{
  background-color: #f2f2f2;

}
.container {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
  padding: 20px;
}

.connected {
  background-color: #5BC0DE; 
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.not-connected {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#connect-button {
  background-color: #039BE5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px;
}

.car-image {
  width: 300px; 
  margin-top: 20px;
}
/*NFTCard*/




.nft-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 25.33%;
  padding: 12px;
  margin: 10px;
  display: inline-block;
  box-sizing: border-box;
}

.nft-image-container {
  position: relative;
  text-align: center; 
  transition: transform 0.3s; 
}

.nft-image {
  max-width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s; 
}

.nft-title {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  font-size: 14px;
  border-radius: 4px;
  transition: background-color 0.3s; 
}

.buy-button,
.sell-button {
  position: absolute;
  bottom: 10px;
  width: 45%; 
  background-color: #039BE5;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s; 
}

.buy-button {
  left: 10px; 
}

.sell-button {
  right: 10px; 
}

.buy-button:hover,
.sell-button:hover {
  background-color: #0572A3;
}

.nft-card:hover .nft-image-container {
  transform: scale(1.1);
}

.nft-card:hover .nft-title {
  background-color: rgba(0, 0, 0, 0.8);
}


/* NFTCard.css */


.loading-dots {
  font-size: 38px; 
  font-weight: bold; 
  display: inline-block;
}

.loading-dots::after {
  content: ' ';
  animation: loading 1s steps(5, end) infinite;
}

@keyframes loading {
  0% {
    content: '';
  }
   100% {
    content: ' . . .';
  }
  25% {
    content: '.';
  }
  50% {
    content: '. .';
  }
  75% {
    content: '. . . ';
  }
}
